body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(20, 20, 20);
}

.hero {
  padding: 1rem 2rem;
  background-color: rgb(212, 212, 212);
}

.scoreboard {
  padding: 1rem 2rem;
  background-color: rgb(236, 236, 236);
}

.card-container {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 60rem;
}

.card {
  width: 8.5rem;
  height: 6rem;
  display: grid;
  place-content: center;
  cursor: pointer;
  border-radius: 0.25rem;
}

.card:hover {
  text-decoration: underline;
}
